/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Global Styles */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Header Styles */
/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #333;
  color: white;
}

.logo a {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #ffa500;
} */

/* Responsiveness */
/* @media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li {
    margin: 10px 0;
  }
} */

@import "tailwindcss";

:root {
  --background: #f4f4f4;
  --foreground: #171717;
  --maincolor: #03644f;
  --maincolor-light:#028a6e;
}

html, #root {
  height: 100%;
}

body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 30vh;
    background: var(--maincolor);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100vh;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.sidebar .profile {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
}

.sidebar nav ul li a.active,.sidebar nav ul li a:hover {
    background: var(--maincolor-light);
}

.logout{
    margin-bottom: 0;
}


.main-content {
    flex: 1;
    background: var(--background);
}

header {
    background: var(--maincolor-light);
    color: white;
    padding: 1vh;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 5vh;
}

header h2 {
    margin: 1vh;
}
